<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Defines the section group for the custom configuration class -->
    <section name="pluginHost"
             type="PluginHost.App.Configuration.Config, PluginHost.App"
             allowLocation="true"
             allowDefinition="Everywhere" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <pluginHost>
    <paths>
      <path name="plugins" location="Plugins" />
      <path name="localStorage" location="Storage" />
    </paths>
  </pluginHost>
</configuration>